// OVERALL CONTAINERS ON MAIN
#control-container, #grid-container {
  margin: 2rem 3rem;
  padding: 1rem;
}

#control-container {
  border-radius: 3rem;
  box-shadow: $container-shadow;
}

// MAIN CONTAINER of CONTROLS - 3 column width
#control-main-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  gap: 1rem;
  padding: 0 1rem;

  #control-player-container {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: $shadow;
  }

  // LEFT - artwork
  #control-player-container > img {
    width: 100%;
    height: 280px;
  }

  // MIDDLE - LED and mood controls
  #control-led-container {
    display: grid;

    #mood-controls {
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 0 auto;
    }
  }

}

// PLAY & SEEK CONTAINER
#control-seek-container {
  display: flex;
  align-items: center;

  #progress-bar-container {
    width: 100%;
    margin: 0 3em;
  }
}



// GRID UNDERNEATH CONTROLS
#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5em;
  text-align: center;
}

.mixtape-card {
  min-height: 8rem;
  // border: 1px solid black;
  display: grid;
  border-radius: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
  background-color: var(--greyLight-1);
  box-shadow: $shadow;
  cursor: pointer;
  // box-shadow: $inner-shadow;

  &.checked {
      box-shadow: $inner-shadow;
  }

  .mixtape-card-artwork {
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
  }
}