// ALL CONTAINERS
.container {
  margin: 2rem 3rem;
  padding: 1rem;
}

// BOSS-LEVEL CONTAINERS ONLY
#control-container, #login-container {
  border-radius: 3rem;
  box-shadow: $container-shadow;
}

// MAIN CONTAINER of CONTROLS - 3 column width
#control-main-container, #login-form-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  gap: 1rem;
  padding: 0 1rem;

  // LEFT COL - artwork
  #control-player-container {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: $shadow;
    position: relative;
    padding-top: 56.25%;  // this is for apsect ratio friendly containers.  Read here: https://css-tricks.com/aspect-ratio-boxes/

    .react-player, > img {
      position: absolute;
      top: 0;
      left: 0;
    }

    > img {
      width: 100%;
      height: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }

  // MIDDLE COL - LED and mood controls
  #control-led-container {
    display: grid;

    #mood-controls {
      margin: 0 auto;
      display: grid;
      align-items: end;
      justify-content: end;
    }
  }

  // RIGHT COL - Profile and volume controls
  #control-volume-container {
    display: grid;
    grid-template-columns: 1fr;
    // justify-content: end;
    // align-items: end;
    padding: 0 1rem;

    #nav-container {
      display: grid;
      // grid-template-columns: 1fr;
      justify-content: end;
    }
  
    #volume-container {
      display: grid;
      grid-template-columns: 1fr;
      // padding: 0 2rem;
      justify-content: end;
      align-items: end;
      .volume input {
        width: 100%;
      }
    }
  }

}

#rightside-container {
  display: grid;
  justify-content: end;
  padding-right: 1rem;
}

// PLAY & SEEK CONTAINER
#control-seek-container {
  display: flex;
  align-items: center;

  #progress-bar-container {
    width: 100%;
    margin: 0 3em;
  }
}

// GRID UNDERNEATH CONTROLS
#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5em;
}

.mixtape-card {
  min-height: 8rem;
  // border: 1px solid black;
  display: grid;
  border-radius: 1rem;
  grid-template-columns: 1fr 2fr;
  overflow: hidden;
  box-shadow: $shadow;
  cursor: pointer;
  // box-shadow: $inner-shadow;

  &.checked {
    color: var(--primary);
    box-shadow: $inner-shadow;
  }

  .mixtape-card-artwork {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .mixtape-card-info {
    width: 100%;
    padding: 1rem;
    // color: var(--greyDark);
    font-family: $main-font;
    font-size: 1.25rem;

    .artist-name {
      font-weight: bold;
    }

    .artist-name, .track-name {
      margin-bottom: 0.5rem;
    }

    &:hover, &.checked { color: var(--primary); }

  }
}

#login-form-container {

  #login-led-container {
    display: grid;

    #login-control-container {
      // width:100%;
      margin: 1em auto;
      text-align: center;
      justify-content: center;

    }
  }
}