@import 'components/variables';
@import 'components/layout';
@import 'components/controls';
@import 'components/form';
@import 'components/media_queries';

* {
  box-sizing: border-box;
}

.site-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background-color: var(--greyLight-1);
  color: var(--greyDark);
  font-family: $main-font;
}